html,
body {
    height: 100%;
    background-color: #4e5042;
    text-align: center;


h1,
h2,
h3,
h4,
h5 {
    color: white;
}

hr {
    background-color: white;
}

p {
    color: #dee735;
}
a{
    margin: 30px;
}


.images2 img {
    width: 30%;
    background-size: cover;
}


.page2 img{
    width: 80%;
    background-size: cover;
    
}

.footer{
    padding-bottom: 100px;
}